<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录界面</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" href="#" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="#"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}" src="#"></script>
</head>
<body style="background-image:url(./img/timg.jpg);background-repeat:no-repeat;background-size:cover; -moz-background-size:cover; ">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form action="*" method="post" style="position: relative; top: 200px; background-color: white; padding: 20px;border-radius: 10px;">
					<input type="hidden" name="typeOper" value="login"/>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span> <input
							type="text" name ="mobile" class="form-control" placeholder="Mobile"
							aria-describedby="basic-addon1">
					</div>
					<div>&nbsp;</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-lock"></span></span> <input
							type="password" name="pwd" class="form-control" placeholder="Pwd"
							aria-describedby="basic-addon2">
					</div>
					<div>&nbsp;</div>
					<div class="input-group">
						<div class="col-md-6">
							<input type="text" name="checkCode" class="form-control" placeholder="验证码" aria-describedby="basic-addon2">
						</div>
						<div class="col-md-6">
							<a href="javascript:getCheckCode()"><img id="checkImg" alt="err pic" src="*"></a>
						</div>
						
					</div>
					<div>&nbsp;</div>
					<div class="from-group">
						<button type="submit" class="form-control btn btn-primary">登录</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</body>
</html>