<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert title here</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" href="#" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="#"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}" src="#"></script>
    <script type="text/javascript" th:src="@{/js/check.js}" src="#"></script>
    <script type="text/javascript">
    	//定义全局权限
    	var auths = null;
    	//定义全局分页对象
    	var pVO = null;
    	
    	function searchEmp(){
    		viewEmp(1, $("#pageSizeEle").val());
    	}
    	
    	function setPageSize(){
    		viewEmp(1, $("#pageSizeEle").val());
    	}
    	
    	//跳转到指定页面
    	function setPageIndex(index){
    		viewEmp(index, $("#pageSizeEle").val());
    	}
    	//向前跳
    	function setPrePage(){
    		var nowPageNum = pVO.nowPageNum;
    		if(nowPageNum == 1){
    			return;
    		}
    		setPageIndex(nowPageNum - 1);
    	}
    	//向后跳
    	function setNextPage(){
    		var nowPageNum = pVO.nowPageNum;
    		if(nowPageNum == pVO.pageCount){
    			return;
    		}
    		setPageIndex(nowPageNum + 1);
    	}
    	
    	/* 初始化时设定每页5条，当前是第1页*/
    	$(function(){
    		viewEmp(1, 5);
    	});
    	
    	function viewEmp(now_Page_Num, page_Size){
    		var queryCondition = null;
    		if($("#searchInput").val()){
    			queryCondition = {
    					condition: $("#searchInput").val(),
    					orderCol: "real_name",
    					orderSeq: "asc",
    					nowPageNum : now_Page_Num,
    					pageSize : page_Size
    			};
    		}else{
    			queryCondition = {
    					orderCol: "real_name",
    					orderSeq: "asc",
    					nowPageNum : now_Page_Num,
    					pageSize : page_Size
    			};
    		}
    		
    		
    		$.getJSON("[[@{/emp/getEmps}]]",
    				queryCondition,
    				function(map){
    					pVO = map.pageVO;
    					auths = map.auths;
    					console.log(map);
    					var tbody = $("#empTbody");
    					tbody.empty();
    					$.each(pVO.contentList, function(i, emp){
    						var row = $("<tr><td>"+(i+1)+"</td>"+
    								"<td>"+emp.empId+"</td>"+
    								"<td>"+emp.realName+"</td>"+
    								"<td>"+emp.telephone+"</td>"+
    								"<td>"+emp.duty+"</td>"+
    								"<td>"+(emp.sex == 0?'女':'男')+"</td>"+
    								"<td>"+emp.nationality+"</td>"+
    								"<td>"+emp.dob.substring(0,10)+"</td>"+
    								"<td>"+emp.hireDate.substring(0,10)+"</td>"+
    								"<td>"+emp.address+"</td>"+
    								"<td>"+
    									"<a href='#'><span class='glyphicon glyphicon-pencil'></span></a>&nbsp;&nbsp;"+
    									"<a href='#'><span class='glyphicon glyphicon-trash'></span></a>"+
    								"</td>"+
    								"</tr>");
    						tbody.append(row);
    					});
    					//设定分页信息
    					var splitUl = $("#empPageNum");
    					//清空其原有内容
    					splitUl.empty();
    					//添加分析页码 
    					
    					//添加前一个页面跳转
    					splitUl.append("<li><a href='javascript:setPrePage()' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>");
    					for(var i = 1; i <= pVO.pageCount; i++){
	    					splitUl.append("<li><a href='javascript:setPageIndex("+i+")' >"+i+"</a></li>");
    					}
    					//添加后一个页面跳转
    					splitUl.append("<li><a href='javascript:setNextPage()' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>");
    					//设定当前页码的激活态
    					$("#empPageNum li").each(function(i){
    						$(this).prop("class", "");
    						if(i == pVO.nowPageNum){
    							$(this).prop("class", "active");
    						}
    					});
    					//设定显示每页条目
    					$("#pageSizeEle").val(pVO.pageSize);
    				});
    	}
    </script>
</head>
<body>
<!-- 导航条 -->
<div th:replace="~{component/titleBar::titleBar('searchEmp')}"></div>
<!-- 主体 -->
<div class="container">
	<div class="row">
		<!-- 菜单 -->
		<div class="col-md-4" th:insert="~{component/menu :: menu(${authoritys})}">
			
		</div>
		<!-- 表格 -->
		<div class="col-md-8">
			<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>序号</th><th>编号</th><th>姓名</th><th>电话</th><th>职务</th><th>性别</th>
						<th>民族</th><th>生日</th><th>入职日期</th><th>地址</th><th>操作</th>
					</tr>
				</thead>
				<tbody id="empTbody">
					<tr th:each="emp,status:${emps}">
						<td th:text="${status.count}"></td>
						<td th:text="${emp.empId}"></td>
						<td th:text="${emp.realName}"></td>
						<td th:text="${emp.telephone}"></td>
						<td th:text="${emp.duty}"></td>
						<td th:text="${emp.sex}"></td>
						<td th:text="${emp.nationality}"></td>
						<td th:text="${#dates.format(emp.dob,'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(emp.hireDate,'yyyy-MM-dd')}"></td>
						<td th:text="${emp.address}"></td>
						<td>
							<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
							<a href="#"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			
<!-- 分页组件 -->
			<div class="col-md-8 col-md-offset-4">
			<div class="col-md-4">
		<select id="pageSizeEle" name="pageSizeEle" class="form-control"
		 style="position:relative;top:20px"
		 onchange="setPageSize()">
			<option value="1">每页1条</option>
			<option value="3">每页3条</option>
			<option value="5">每页5条</option>
			<option value="10">每页10条</option>
			<option value="20">每页20条</option>
		</select>
	</div>
			<div class="col-md-8">
				<nav aria-label="Page navigation">
  <ul class="pagination" id="empPageNum">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
     <li><a href="#">...</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">...</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
	
			</div>
		</div>
	</div>
</div>
<!-- 添加消息框 -->
<div class="col-md-4" th:insert="~{component/dialog :: mesDailog}">

</body>
</html>